$background-color-light: #ffffff;   // 白色主题背景
$background-color-dark: #151617;    // 黑色主题背景

$font-color-light: #151617;         // 白色主题颜色
$font-color-dark: #ffffff;          // 黑色主题颜色

$font-color-shallow0: #000;
$font-color-shallow1: #111;
$font-color-shallow2: #222;
$font-color-shallow3: #333;
$font-color-shallow4: #444;
$font-color-shallow5: #555;
$font-color-shallow6: #666;
$font-color-shallow7: #777;
$font-color-shallow8: #888;
$font-color-shallow9: #999;
$font-color-shallowdb: #dbdbdb;

$font_little_s: 10px;
$font_little:   12px;
$font_medium_s: 14px;
$font_medium:   16px;
$font_large_s:  18px;
$font_large:    20px;